.overlay {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.popover {
  @include shadow;
  padding: 3rem;
  background: white;
  position: relative;
}

.popover-close-button {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 0;
  padding: 0.75rem;
}

.popover-message {
  text-align: center;
  padding-bottom: 4rem;
  font-size: 1.5rem;
}

.message-container {
  display: flex;
  width: 20rem;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popover-button {
  @include button-clickable;
}
