// colors
$background: rgb(252, 252, 252);
$main: rgb(240, 240, 240);
$accent: rgb(216, 216, 216);
$black: rgb(35, 35, 35);
$red: rgb(255, 100, 100);
$blue: rgb(89, 128, 255);
$green: rgb(255, 232, 98);

// fonts
$font: 'Assistant', sans-serif;
$body: 400;
$heading: 700;
